// use @use to add SASS variables
@use "../util/" as u;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // Reset rules
  margin: 0;
  padding: 0;
  // SASS variables (legend websites)
  font-family: u.$font;
  // CSS custom properties
  background-color: var(--background-color);
  color: var(--text-color);
  // One way to center items in layout
  // display: grid;
  // justify-content: center;
}
