// use @use to load mix in
@use "../util/" as u;

// SAS placeholder
%widget {
  padding: u.rem(16);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  // Traditional way
  // max-width: 1000px;
  // New way to set width dynamically
  width: min(100% - u.rem(40), u.rem(1000));
  // This is another way to center items without making margin top bottom to zero.
  margin-inline: auto;

  // use @include to add mixin
  @include u.breakpoint(large) {
    // em for media queries to scale up the browser
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 99%, 33%);

    @include u.breakpoint(medium) {
      background-color: hsl(120, 100%, 16%);
    }

    @include u.breakpoint(large) {
      background-color: hsl(39, 100%, 35%);
    }
  }

  &__sidebar {
    // @media (max-width: 56.25em)
    @include u.breakpoint-down(medium) {
      text-align: center;
    }

    @include u.breakpoint-down(small) {
      text-align: right;
    }
  }

  &__widget {
    // SASS variable
    // $widget: &;
    background-color: hsl(300, 100%, 30%);
    &--magenta {
      @extend %widget;
      background-color: hsl(300, 100%, 30%);
    }

    &--green {
      // using variables within styles in case if i need to use the extend rule
      // @extend #{$widget};
      @extend %widget;
      background-color: hsl(120, 100%, 27%);
    }
  }
}
